.note {
  display: flex;
  flex-direction: column;
  width: 292px;
  height: 130px;
  background-color: rgb(48, 139, 139);
  border-radius: 20px;
  margin: 4px;
  font-size: 18px;
  align-items: center;
  justify-content: center;
}

.title {
margin: 0;
}

.text {
display: block;
width: 255px;
word-wrap: break-word;
margin-bottom: 2px;
}

