.buttons {
  max-width: 200px;
  padding: 8px 10px;
  border-radius: 12px;
  margin-left: 50px;
  margin-top: 5px;
  border: 0;
  background-color: rgb(121, 245, 208);
  font-size: 18px;
  cursor: pointer;
}

.buttons:hover {
  background-color: rgb(85, 204, 168);
}
